html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

 .open {
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default; 
} 

.show {
   font-size: 33px !IMPORTANT;
}

.match {
   cursor: default;
   background: #02ccba !IMPORTANT;
   font-size: 33px !IMPORTANT;
   pointer-events: none;
}

.lifeLost{
    display:none;
}
.disabled{
    pointer-events: none;
}

.deck {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 10px;
    background: rgb(30,232,158);
    color: rgb(33,155,255);
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    font-size: 0;
}






/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.score-panel .time {
    font-family: 'Courier New', Courier, monospace;
    color:green;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
